REVIEWS_BOT_TOKEN=123456:replace-me
PRIVATE_BOT_TOKEN=123456:replace-me
ADMIN_IDS=111111111,222222222
DATABASE_PATH=./bots.db

RU_REVIEWS_LINK=https://t.me/+ru_reviews_invite
FOREIGN_REVIEWS_LINK=https://t.me/+foreign_reviews_invite
RU_PRIVATE_LINK=https://t.me/+ru_private_invite
FOREIGN_PRIVATE_LINK=https://t.me/+foreign_private_invite
